* {
    margin: 0;
}

a {
    text-decoration: none;
}

body {
    background-color: white;
}

/* Top Nav Bar  */
.nav_link {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    font-family: 'Mier book';
    text-decoration: none;
    border-radius: 5px;
    margin: 0px 10px 0px 10px;
    padding: 5px 10px;
    color: rgb(96, 197, 172);
}

/* .login {
    background-color: rgb(96, 197, 172);
    color: white;

} */


/* Bottom Navbar Button */
.BottomNav {
    display: none;
}


svg {
    border-bottom: none;
}
.popicons{
    color: red;
    margin-right: 10px;
}

/*-------------- tablate or mobile landscape------------ */
@media(min-width:601px) {
    .nav {
        position: fixed;
        top: 0;
        height: 50px;
        display: flex;
        justify-content: space-between;
    }

    .applogo2 {
        width: 40px;
        height: 40px;
        margin-top: 5px;
    }

    .nav_link_option {
        margin-top: 12px;

    }

    .nav_link {
        margin-right: 15px;
    }

    i {
        margin-right: 5px;
    }


}


/*-----------------laptop screen-------------------*/


@media(min-width: 900px) {
    body {
        margin-top: 62px;
    }

    .nav {
        position: fixed;
        top: 0;
        display: flex;
        justify-content: space-between;
        padding: 15px 0px 0px 0px;
        height: 60px;
        padding-left: 50px;
        padding-right: 50px;


    }

    .nav_link {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        font-family: 'Mier book';
        text-decoration: none;
        border-radius: 5px;
        margin: 0px 10px 0px 10px;
        padding: 5px 10px;

    }

    ul {
        margin-top: -10px;
    }

    .nav_link_option {
        margin-top: 3px;
    }

    i {
        margin-right: 10px;
    }

    .applogo2 {
        margin-top: 0px;
    }

    .fa-arrow-left {
        display: none;
    }
    .nav_titlex{
        display: none;
    }
    




}



/*-----------------For Mobile Screen-------------------*/

/* max-width ...means <500px mobile device size*/
@media screen and (max-width: 600px) {
    * {
        transition: all 0.2 linear;
    }


    .nav2 {
        align-items: center;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        background-color: rgb(76, 76, 76);
        padding: 0px 0px 5px 0px;
        height: 50px;
    }

    .fa-arrow-left {
        font-size: 24px;
        margin-left: -15px;
        margin-top: 8px;
        /* color: #878787; */
        color: white;
    }

    #navbar {
       
        position: fixed;
        top: 0;
        width: 100%;
        display: block;
        transition: top 0.3s;
    }


    ul,
    .applogo2 {
        margin: 0px;

    }

    ul {
        overflow: hidden;
    }

    .applogo2 {
        height: 40px;
        margin-left: -20px;
        margin-top: 5px;
        float: left;
        display: none;
    }

    ul {
        margin-right: -10px;
    }

    .nav_link_option {
        display: none;
    }

   

    .nav_link_option {
        display: none;
    }

    span {
        font-size: 14px;
    }

    .ul_none {
        display: none;
    }

    .nav_titlex {
        font-family: 'Mier book';
        /* background-color: red; */
        padding: 0px 0px 15px 0px;
        font-size: 24px;
        margin: 10px;
        /* color: #878787; */
        color: white;
    }
    


}